// Colors
$green: #00b27f;
$purple: #6A539B;
$palettes: (
    black: (
    	base: #000000
    ),

    gray: (
        base: #888888,
        dark: #555555,
        light: #DDDDDD,
        x-light: #EFEFEF
    ),

    green: (
    	base: $purple,
        dark: darken($purple, 10),
        light: lighten($purple, 35)
    ),

    purple: (
        base: $purple,
        dark: darken($purple, 10),
        light: lighten($purple, 35)
    ),

	red: (
		base: #FA5744
	),

    white: (
        base: #ffffff
    )
);

// Screen Sizes
$screens: (
    small: 544px,    
    medium: 775px
);

// Type
$sans-serif: 'Avenir', 'Lato', sans-serif;

// Misc
$border-radius: 3px;
$box-shadow: 0 3px 6px rgba(0,0,0,0.07);
$transition: .25s ease-in-out;
