// Colors
$purple: #FF26FF;
$blue: #60B9FF;
$green: #00b27f;
$red: #FA5744;
$palettes: (
    black: (
    	base: #333333
    ),

    blue: (
        base: $blue,
        dark: darken($blue, 10),
        light: lighten($blue, 35),
        x-dark: darken($blue, 20)
    ),

    gray: (
        base: #888888,
        dark: #555555,
        light: #DDDDDD,
        x-light: #EFEFEF
    ),

    green: (
        base: $green,
        dark: darken($green, 10),
        x-dark: darken($green, 20)
    ),

    purple: (
        base: $purple,
        dark: darken($purple, 10),
        light: lighten($purple, 35),
        x-dark: darken($purple, 20)
    ),

	red: (
        base: $red,
        dark: darken($red, 10),
        x-dark: darken($red, 20)
	),

    white: (
        base: #ffffff
    )
);

// Screen Sizes
$screens: (
    small: 544px,    
    medium: 775px
);

// Type
$sans-serif: 'Avenir', 'Lato', sans-serif;

// Misc
$border-radius: 3px;
$box-shadow: 0 2px 3px rgba(0,0,0,0.04);
$transition: .25s ease-in-out;
