// Colors
$green: #00b27f;
$palettes: (
    white: (
    	base: #ffffff
    ),

    black: (
    	base: #000000
    ),

    green: (
    	base: $green,
        dark: darken($green, 10),
        light: lighten($green, 35),
    ),

	red: (
		base: #FA5744
	),

	gray: (
		base: #888888,
		dark: #555555,
		light: #DDDDDD,
		x-light: #EFEFEF
	)
);

// Screen Sizes
$screens: (
    small: 544px,    
    medium: 775px
);

// Type
$sans-serif: 'Avenir', 'Lato', sans-serif;

// Misc
$border-radius: 3px;
$box-shadow: 0 3px 6px rgba(0,0,0,0.07);
$transition: .25s ease-in-out;
